
.spotlight {
    position: relative;
    display: block;

    padding: 0.7rem 0.5rem 3rem;
    border-top: 0.2rem solid #cbd2da;

    font-family: "Flanders Art Sans", serif;

    text-decoration: none;
}

.spotlight__title {
    font-family: "Flanders Art Sans", serif;
    font-size: 2rem;
    font-weight: 500;
}

.spotlight__subtitle {
    font-size: 1.6rem;
}
