a {
  text-decoration: none;
  font-size: 2rem;
}


.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 2rem;
}

.navigation-item:last-child {
  padding: 0 1rem;
  border-left: none;
  margin: 15px 0px 0px auto;
}

.navigation-item {
  padding: 0 1rem;
  border-left: 1px solid #ccc;
}

.navigation-divider {
  margin: 2rem 0;
  padding: auto 0;
  border: 1px solid #ccc;
}
