.description-data__label {
    display: block;


    color: #666;

    font-family: "Flanders Art Sans", serif;

    font-size: 1.6rem;
    font-weight: 400;
}

.description-data__value {
    display: block;

    color: #000;

    font-family: "Flanders Art Sans", serif;

    font-size: 1.8rem;
    font-weight: 700;
}
